@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');

.pokemonLineUp {
    display: flex;
    justify-content: center;
}

li {
    font-family: 'Luckiest Guy';
    font-size: large;
    font-size: 30px;
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    margin: 5px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    width: 97vw;
}

main {
    display: flex;
  flex-shrink: 0;
  width: 100vw;
  overflow: hidden;
  /* vw - viewport window */
}

.showDetails {
transform: translateX(-100vw);
}

#list, #showDetails {
    width: 100vw;
    transition: all .3s;
}

/* .previous {
    display: flex;
    justify-self: start;
}
.next {
    display: flex;
    justify-self: end;
} */