@import url('https://fonts.googleapis.com/css?family=Comic+Neue&display=swap');

body {
font-family: 'Comic Neue', cursive;
}

#bodyBack {
    max-height: 10%;
}

h1 {
border: 5px solid green;
display: flex;
justify-content: center;
}

#exerciseList {
    border: 5px solid blue;
    line-height: 1.5em;
}

#delete {
    width: 90px;
    border-radius: 5px;
    background-color: red;
    border: none;
    color: white;
    font: bold;
}

.target {
    font-size: large;
    background-color: rgb(0, 93, 186);
    color: rgb(255, 255, 255);
}